@use "../../foundation/setting" as *;

.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow:
    0 0 30px 0 rgba(0, 0, 0, 0.03),
    0 5px 30px 0 rgba(20, 43, 78, 0.2);

  &__link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  @include hover-opacity(0.7);

  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
  }
}

.c-card__date {
  font-size: 12px;
  line-height: 1.2;
  color: $color-text-muted;
  margin-top: 12px;
  text-align: left;

  @include mq(tb) {
    font-size: 14px;
    margin-top: 16px;
  }
}

.c-card__title {
  display: -webkit-box; //  旧式の box レイアウト
  -webkit-box-orient: vertical; //  縦方向に並べる
  -webkit-line-clamp: 2; //  何行で切るか
  overflow: hidden;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-top: 8px;
  text-align: left;
  min-height: 2lh;

  @include mq(tb) {
    font-size: 20px;
  }
}

.c-category {
  display: inline-block;
  width: fit-content;
  font-size: 13px;
  line-height: 1.6;
  padding: 4px 16px;
  border: 1px solid currentColor;
  border-radius: 4px;
  margin-top: 8px;

  @include mq(tb) {
    font-size: 18px;
    line-height: 1.4;
    padding: 4px 20px;
    border-radius: 6px;
  }

  &--all {
    color: $color-cat-all;
  }
  &--latest {
    color: $color-cat-latest;
  }
  &--tips {
    color: $color-cat-tips;
  }
  &--interview {
    color: $color-cat-interview;
  }
  &--news {
    color: $color-cat-news;
  }
}

.c-card__tag-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 8px;
  margin-top: 12px;

  @include mq(tb) {
    gap: 16px;
    margin-top: 18px;
  }
}

.c-card__tag-item {
  flex-shrink: 0;
}

.c-tag {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 12px;
  line-height: 1.8;
  padding: 2px 12px 2px 8px;
  border-radius: 24px;
  color: $color-text-base;
  background-color: $color-bg-tag;

  @include mq(pc) {
    &:hover {
      color: $color-bg-tag;
      background-color: $color-text-base;
    }
  }
}
